@model GameStore.ViewModels.CartViewModel

@{
    var options = new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "cart-content"
    };
}

<table class="table-list">
    <thead>
        <tr>
            <th style="width: 15%;"></th>
            <th style="width: 40%;">Informacje o produkcie</th>
            <th style="width: 15%;">Liczba sztuk</th>
            <th style="width: 15%;">Cena detaliczna</th>
            <th style="width: 15%;">Łączna cena</th>
        </tr>
    </thead>
    <tbody>

        @if(Model.Products.Count > 0)
        { 
            foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        <a href="~/Views/Product/Details/@item.ProductId" class="product-image-wrapper">
                            <div class="image-tint background-white"></div>
                            <img alt="@item.ProductName" src="@item.ProductCover" height="153" width="108" />
                        </a>
                    </td>
                    <td class="top-align">
                        <a href="" class="title-wrapper">
                            <h3>@item.ProductName</h3>
                        </a>
                        <div class="product-additional-info">
                            Platforma: @item.PlatformName<br>
                            Wydawca: @item.ProductPublisher<br>
                            Język: @item.ProductLang
                        </div>
                        @Ajax.ActionLink("Usuń z koszyka", "RemoveProduct", "Cart", new { id = @item.ProductId }, options)
                    </td>
                    <td class="center-align">
                        <input class="text-input" type="number" min="0" max="100" step="1" value="@item.Quantity" onchange="changeQuantity(this, '@item.ProductId');" />
                    </td>
                    <td class="center-align">
                        <span class="gray">@item.Price</span>
                    </td>
                    <td class="center-align">
                        <b>@item.TotalPrice</b>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td class="center-align" colspan="5">Koszyk jest pusty.</td></tr>
        }

    </tbody>
</table>

<h3 class="right-align" style="margin-top: 12px;">Razem: @(Model.TotalPrice)zł</h3>

@Html.ActionLink("Złóż zamówienie", "Create", "Order", null, new { @class = "cart-button", @id = "make-order-button", @type = "submit" })
@Ajax.ActionLink("Wyczyść koszyk", "DestroyCart", "Cart", options, new { @class = "cart-button", @type = "submit" })

<script>
    function changeQuantity(sender, id) {
        jQuery.ajax({
            url: '@Url.Action("UpdateQuantity", "Cart")',
            type: 'GET',
            data: { productId: id, quantity: sender.value },
            success: function (data, textStatus) {
                $("#cart-content").html(data);
            },
        });
    }
</script>