@model GameStore.ViewModels.GenreViewModel

@{
    ViewBag.Title = "Dodaj gatunek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="wrapper">
        <div class="column">
            @Html.Partial("~/Views/Shared/_AdminMenu.cshtml")
        </div>
        <div class="column" style="float: left; margin-left: 50px;">

            @using (Html.BeginForm("Create", "Genre", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", @class = "general-form" }))
            {
                <h2>Dodaj gatunek</h2>
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    <div class="form-input-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-input" })
                    </div>
                </div>

                <button class="form-input" type="submit">Dodaj</button>
            }
        </div>
    </div>
</main>
