@model List<GameStore.Entities.Comment>

<ul class="table-list">
    @foreach (var item in Model)
    {
        <li class="comment">
            <div class="comment-title">
                <h4><a href="">@item.User.UserName</a>: @item.Title</h4>
                <div class="date">@item.Added</div>
            </div>
            <div>@item.Content</div>
            @if (Request.IsAuthenticated && (User.IsInRole("Administrator") || @item.User.Id == GameStore.Helpers.AccountHelper.GetLoggedUserId()))
            {
                <div class="right-align">
                    <a id="delete_comment_btn" href='@Url.Action("DeleteComment", "Product", new { Id = item.Id, ProductId = item.ProductId })'>Usuń komentarz</a>
                </div>
            }
        </li>
    }
</ul>
