@model GameStore.ViewModels.ProductListItem

<tr>
    <td>
        <a href="Page/@Model.Id" class="product-image-wrapper">
            @if(Model.IsDiscounted)
            { 
                <div class="product-discount-small">-@(Model.DiscountPercentage)%</div>
            }
            <div class="fill image-tint background-white"></div>
            <img alt="@Model.Name" src="@Model.CoverList" width="108" height="153" />
        </a>
    </td>
    <td>
        <h3><a href="Page/@Model.Id">@Model.Name</a></h3>
        <table class="product-info">
            <tr><td>Platforma: </td><td>@Model.PlatformName</td></tr>
            <tr><td>Data premiery: </td><td>@Model.ReleaseDateString</td></tr>
            <tr><td>Język: </td><td>@Model.Language</td></tr>
        </table>
        <div>
            @Model.Rating
            @Model.VotesCount głosów
            @Model.CommentsCount komentarzy
        </div>
        <div class="price-cart-column">
            @if (Model.IsDiscounted)
            {
                <div class="product-price right">
                    <span class="price-main">@Model.DiscountPriceZl</span>
                    <span class="price-sub">
                        <span class="price-grosze">@Model.DiscountPriceGr</span>
                        <span class="price-currency">zł</span>
                    </span>
                </div>
                <div class="discount-old-price right">@(Model.BasePriceZl),@(Model.BasePriceGr)zł</div>
            }
            else
            {
                <div class="product-price right">
                    <span class="price-main">@Model.BasePriceZl</span>
                    <span class="price-sub">
                        <span class="price-grosze">@Model.BasePriceGr</span>
                        <span class="price-currency">zł</span>
                    </span>
                </div>
            }

            <div class="add-to-cart clear"></div>

            @Ajax.ActionLink("Do koszyka", "AddProduct", "Cart", new { id = Model.Id }, new AjaxOptions { }, new { })
            <br />
            @Html.ActionLink("Edytuj", "Update", new { id = Model.Id })
            <br />
            @Html.ActionLink("Zwiększ liczbę sztuk", "Increase", new { id = Model.Id })
            <br />
            @Html.ActionLink("Wycofaj z oferty", "Delete", new { id = Model.Id })
        </div>
        <div class="description">
            @Model.Description
        </div>
    </td>
</tr>