@model ICollection<GameStore.ViewModels.ProductListItem>

@if(Model.Count > 0)
{ 
<ul class="table-list">
    @foreach (var item in Model)
    {
        <li class="table-list-item">
<<<<<<< HEAD
            <a href="Product/Details/@item.Id" class="product-image-wrapper">
=======
            <a href='@Url.Action("ProductDetails", "Product", new { Id = item.Id })' class="product-image-wrapper">
>>>>>>> 4895d368d939e90ab40945faa072c2d914fb739b
                @if (item.IsDiscounted)
                {
                    <div class="product-discount">-@item.DiscountPercentage%</div>
                }
                <div class="image-tint background-white"></div>
                <img alt="@item.Name" src="@item.CoverList" height="153" width="108" />
            </a>
            <div class="product-info">
                <div class="info-header">
<<<<<<< HEAD
                    <a href="Product/Details/@item.Id" class="title-wrapper">
=======
                    <a href='@Url.Action("ProductDetails", "Product", new { Id = item.Id })' class="title-wrapper">
>>>>>>> 4895d368d939e90ab40945faa072c2d914fb739b
                        <h3>@item.Name</h3>
                    </a>
                    <div class="product-price">
                        @if (item.IsDiscounted)
                        {
                            <span class="discount-old-price">@item.BasePriceZl,@item.BasePriceGr</span>
                            <div class="product-price">
                                <span class="price-main">@item.DiscountPriceZl</span>
                                <span class="price-sub">
                                    <span class="price-grosze">@item.DiscountPriceGr</span>
                                    <span class="price-currency">zł</span>
                                </span>
                            </div>
                        }
                        else
                        {
                            <div class="product-price">
                                <span class="price-main">@item.BasePriceZl</span>
                                <span class="price-sub">
                                    <span class="price-grosze">@item.BasePriceGr</span>
                                    <span class="price-currency">zł</span>
                                </span>
                            </div>
                        }
                    </div>
                </div>
                <div class="product-additional-info">
                    Platforma: @item.PlatformName<br>
                    Wydawca: @item.Publisher<br>
                    Data premiery: @item.ReleaseDateString<br>
                    Gatunek: @item.GenreName<br>
                    Język: @item.Language
                </div>
                <div class="product-rate">
                    <div class="rating-stars">
                        <div class="rating-stars-result" style="width: @((int)(item.Rating / 5.0M * 70))px;"></div>
                    </div>
                    Oddanych głosów: @item.VotesCount
                </div>
                @Ajax.ActionLink("Do koszyka", "AddProduct", "Cart", new { @id = item.Id }, null, new { @class = "add-to-cart" })
            </div>
        </li>
    }
</ul>
}
else
{
    <div class="center-align">Nie znaleziono produktów spełniających wyniki wyszukiwania.</div>
}

