@model GameStore.ViewModels.DetailsViewModel

@{
    ViewBag.Title = "Strona produktu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header></header>
<main>
    <div class="wrapper">
        <div class="content single-column-content">
            <section class="product-details">
                <a href="" class="product-image-wrapper">
                    <div class="image-tint background-white"></div>
                    <img alt="Tekst alternatywny" src="@Model.Product.CoverList" width="250" />
                </a>
                <div class="product-info">
                    <h1>@Model.Product.Name</h1>
                    <div class="left">
                        <div class="product-rate">
                            <span class="rate">@Model.Product.Rating</span>
                            <div class="inline-block">
                                <div class="rating-stars">
                                    <div class="rating-stars-result"></div>
                                    <a href="" class="rate-star"></a>
                                    <a href="" class="rate-star"></a>
                                    <a href="" class="rate-star"></a>
                                    <a href="" class="rate-star"></a>
                                    <a href="" class="rate-star"></a>
                                </div>
                                Oddanych głosów: @Model.Product.VotesCount
                            </div>
                        </div>
                        <ul class="product-additional-info">
                            <li><span class="title">Platforma:</span>@Model.Product.PlatformName</li>
                            <li><span class="title">Wydawca:</span>@Model.Product.Publisher</li>
                            <li><span class="title">Data premiery:</span>@Model.Product.ReleaseDateString</li>
                            <li><span class="title">Gatunek:</span>@Model.Product.GenreName</li>
                            <li><span class="title">Język:</span>@Model.Product.Language</li>
                        </ul>
                    </div>
                    <form id="order-product">
                        <!-- Jeśli max większy niż liczba sztuk w bazie to ograniczyć -->
                        <span class="gray">Ilość: </span>
                        <input class="text-input" type="number" min="0" max="100" step="1" value="2" /> szt.
                        <!-- Jak nie ma to pokazać --><br>
                        <span class="gray">Ilość: </span>
                        <span class="red">produkt niedostępny</span><br>
                        <span class="gray table-cell top-align">Cena: </span>
                        <div class="price">
                            <div class="product-price">
                                <span class="price-main">@Model.Product.DiscountPriceZl</span>
                                <span class="price-sub">
                                    <span class="price-grosze">@Model.Product.DiscountPriceGr</span>
                                    <span class="price-currency">zł</span>
                                </span>
                            </div>
                            @if (Model.Product.DiscountPriceZl != Model.Product.BasePriceZl)
                            {
                                <span class="discount-old-price">@Model.Product.BasePriceZl,@Model.Product.BasePriceGr</span>
                            }
                        </div>

                        <button class="add-to-cart" type="submit">Do koszyka</button>
                    </form>
                </div>
            </section>

            <article>
                <section>
                    <h2>Opis produktu</h2>
                    <p>@Model.Product.Description</p>
                </section>
            </article>

            <section>
                <h2>Wymagania sprzętowe</h2>
                <div class="requirements">
                    <div class="col-2">
                        <h4>Minimalne:</h4>
                        <p>@Model.Product.ReqMinimal</p>
                    </div>
                    <div class="col-2">
                        <h4>Zalecane:</h4>
                        <p>@Model.Product.ReqRecommended</p>
                    </div>
                </div>
            </section>
            <section>
                <h2>Komentarze</h2>

                @Html.Partial("_AddComment", Model.AddComment)

                <div class="comment-options right-align">
                    <a id="add-comment-show">Dodaj komentarz</a>
                </div>

                @Html.Partial("_Comments", Model.Comments)
            </section>
        </div>
    </div>
</main>

<script>
    $("#add-comment-show").click(function () {
        $("#add-comment").show();
        $(this).hide();
    });
</script>

