@model GameStore.ViewModels.AddressViewModel

@{
    ViewBag.Title = "Nowy adres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="wrapper">
        @Html.Partial("_UserMenu")
        <div class="content">
            <h2>@ViewBag.Title</h2>

            <div class="right-align">@Html.ActionLink("Dodaj nowy adres", "AddAddress", null, new { @style = "margin-bottom: 10px; display: block;" })</div>

            @using (Html.BeginForm("AddAddress", "Account", null, FormMethod.Post, new { @class = "form-general left", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(model => model.UserId)

                <div class="form-group">
                    @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })
                    <div class="form-input-group">
                        @Html.LabelFor(model => model.Region, htmlAttributes: new { @class = "form-label" })
                        @Html.DropDownListFor(model => model.Region, ViewBag.Regions as SelectList, new { @class = "form-input" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                    <div class="form-input-group">
                        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.City, htmlAttributes: new { @class = "form-input" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
                    <div class="form-input-group">
                        @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.Street, htmlAttributes: new { @class = "form-input" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.ValidationMessageFor(model => model.House, "", new { @class = "text-danger" })
                    <div class="form-input-group">
                        @Html.LabelFor(model => model.House, htmlAttributes: new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.House, htmlAttributes: new { @class = "form-input" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.ValidationMessageFor(model => model.Local, "", new { @class = "text-danger" })
                    <div class="form-input-group">
                        @Html.LabelFor(model => model.Local, htmlAttributes: new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.Local, htmlAttributes: new { @class = "form-input" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
                    <div class="form-input-group">
                        @Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.PostalCode, htmlAttributes: new { @class = "form-input" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.ValidationMessageFor(model => model.Post, "", new { @class = "text-danger" })
                    <div class="form-input-group">
                        @Html.LabelFor(model => model.Post, htmlAttributes: new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.Post, htmlAttributes: new { @class = "form-input" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AdditionalInfo, htmlAttributes: new { @class = "form-label" })
                    @Html.ValidationMessageFor(model => model.AdditionalInfo, "", new { @class = "text-danger" })
                    @Html.TextAreaFor(model => model.AdditionalInfo, htmlAttributes: new { @class = "form-input" })
                </div>

                <button class="form-input" type="submit">Dodaj</button>

            }

        </div>
    </div>
</main>