@model IEnumerable<GameStore.ViewModels.AddressViewModel>

@{
    ViewBag.Title = "Moje adresy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="wrapper">
        @Html.Partial("_UserMenu")
        <div class="content">
            <h2>@ViewBag.Title</h2>

            <div class="right-align">@Html.ActionLink("Dodaj nowy adres", "AddAddress", null, new { @style = "margin-bottom: 10px; display: block;" })</div>

            <table class="table-list">
                <tr>
                    <th>
                        Adres
                    </th>
                    <th>
                        Dodatkowe informacje
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Street)
                            @Html.Raw(" ")
                            @Html.DisplayFor(modelItem => item.House)
                            @Html.Raw("/")
                            @Html.DisplayFor(modelItem => item.Local)
                            @Html.Raw(" ")
                            @Html.DisplayFor(modelItem => item.City)
                            @Html.Raw(", ")
                            @Html.DisplayFor(modelItem => item.Region)
                            @Html.Raw(" ")
                            @Html.DisplayFor(modelItem => item.PostalCode)
                            @Html.Raw(" ")
                            @Html.DisplayFor(modelItem => item.Post)
                        <td class="center-align">
                            @Html.DisplayFor(modelItem => item.AdditionalInfo)
                        </td>
                        <td class="center-align">
                            @Html.ActionLink("Usuń", "DeleteAddress", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</main>