<div class="side-menu">
    <h2>Panel administratora</h2>
    <ul>
        <li><a href='@Url.Action("Create", "Product")'>Dodaj produkt</a></li>
        <li><a href='@Url.Action("Create", "Category")'>Dodaj kategorię</a></li>
        <li><a href='@Url.Action("Create", "Genre")'>Dodaj gatunek</a></li>
        <li><a href='@Url.Action("CreateRating", "Pegi")'>Dodaj ocenę wiekową</a></li>
        <li><a href='@Url.Action("CreateContent", "Pegi")'>Dodaj treść</a></li>
    </ul>
</div>