<footer>
    <div class="footer-map">
        <div class="wrapper">
            <div class="footer-menu">
                <div class="col-3">
                    <h3>GameStore</h3>
                    <ul>
                        <li><a href='@Url.Action("Index","Home")'>Strona główna</a></li>
                        <li><a href='@Url.Action("About","Home")'>O sklepie</a></li>
                        <li><a href='@Url.Action("Index","Product")'>Nasze produkty</a></li>
                        <li><a href='@Url.Action("Index","Product")'>Nowości</a></li>
                        <li><a href='@Url.Action("Contact","Home")'>Kontakt</a></li>
                        <li><a href='@Url.Action("Regulations","Home")'>Regulamin</a></li>
                        <li><a href='@Url.Action("PrivacyPolicy","Home")'>Polityka prywatności</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <h3>Moje konto</h3>
                    <ul>
                        @if (!Request.IsAuthenticated)
                        {
                            <li><a href='@Url.Action("Register","Account")'>Rejestracja</a></li>
                            <li><a href='@Url.Action("Login","Account")'>Logowanie</a></li>
                            <li><a href='@Url.Action("ForgotPassword","Account")'>Odzyskaj hasło</a></li>
                        }
                        else
                        {
                            <li><a href='@Url.Action("Index","Cart")'>Koszyk</a></li>
                            <li><a href='@Url.Action("MyOrder","Cart")'>Moje zamówienia</a></li>
                        }
                    </ul>
                </div>
                <div class="col-3">
                    <h3>Pomoc</h3>
                    <ul>
                        <li><a href='@Url.Action("FAQ","Home")'>Najczęstsze pytania</a></li>
                        <li><a href='@Url.Action("ShippingCosts","Home")'>Koszty wysyłki</a></li>
                        <li><a href='@Url.Action("Complaints","Home")'>Zwroty i reklamacje</a></li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <p>Odwiedź i polub nas:</p>
                <div class="footer-social-links">
                    <a id="f-facebook-link" href="http://facebook.com"></a>
                    <a id="f-twitter-link" href="http://twitter.com"></a>
                    <a id="f-google-link" href="http://google.com"></a>
                    <a id="f-youtube-link" href="http://youtube.com"></a>
                </div>
                <p>Jeśli chcesz wiedzieć co nowego dzieje się w świecie gier, zapisz się na otrzymywanie naszego newslettera:</p>
                <div class="newsletter">
                    <form>
                        <input id="add-to-newsletter" class="text-input" type="text" placeholder="Podaj adres e-mail" />
                        <input type="button" id="newsletter-button" value="Zapisz" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="wrapper">
            Projekt stworzony został jako projekt zaliczeniowy przedmiotu Systemy Handlu Elektrownicznego w roku akademickim 2015-2016 przez Karolinę Kuras, Krystiana Kądzielę, Adama Kostusiaka, Huberta Pietruczuka oraz Damiana Roguskiego pod kierownictwem Jakuba Szymczuka. Serwis ma charakter wyłącznie edukacyjny i nie świadczy faktycznej sprzedaży umieszczonych w nim produktów. Prawa autorskie wszystkich umieszczonych materiałów należą do ich faktycznych właścicieli.
        </div>
    </div>
</footer>
<script>
    $("#newsletter-button").on('click', function () {
        var email = $("#add-to-newsletter").val();
        window.location = '/notification/addtonewsletter?email=' + email;
    });
</script>