<div class="side-menu">
    <h2>GAMESTORE</h2>
    <ul>
        <li><a href='@Url.Action("Index","Home")'>Strona główna</a></li>
        <li><a href='@Url.Action("About","Home")'>O sklepie</a></li>
        <li><a href='@Url.Action("Index","Product")'>Nasze produkty</a></li>
        <li><a href='@Url.Action("Contact","Home")'>Kontakt</a></li>
        <li><a href='@Url.Action("Regulations","Home")'>Regulamin</a></li>
        <li><a href='@Url.Action("PrivacyPolicy","Home")'>Polityka prywatności</a></li>
    </ul>
</div>
