<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <title>@ViewBag.Title - GameStore</title>
    <meta name='Author' content='Jakub Szymczuk' />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700%7CAlfa+Slab+One%7COpen+Sans:800%7CHammersmith+One&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css' />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <nav class="upper-bar">
        <div class="wrapper">
            <div class="left">
                <a class="logo"></a>
                <div class="social-links">
                    <a id="facebook-link" href="http://facebook.com"></a>
                    <a id="twitter-link" href="http://twitter.com"></a>
                    <a id="google-link" href="http://google.com"></a>
                </div>
            </div>
            <div class="right">
                <div class="cart">
                    <a id="cart-link" href='@Url.Action("Index", "Cart")'></a>
                </div>
                <div class="account">
                    @if (Request.IsAuthenticated)
                    {
                        <a id="login-link" href='@Url.Action("MyProfile", "Account")'></a>
                    }
                    else
                    {
                        <a id="login-link" href='@Url.Action("Login", "Account")'></a>
                    }
                </div>
            </div>
        </div>
    </nav>
    @Html.Partial("_Nav")
    @RenderBody()
    <footer>
        <div class="footer-map">
            <div class="wrapper">
                <div class="footer-menu">
                    <div class="col-3">
                        <h3>GameStore</h3>
                        <ul>
                            <li><a href="">Strona główna</a></li>
                            <li><a href="">O sklepie</a></li>
                            <li><a href="">Nasze produkty</a></li>
                            <li><a href="">Wydarzenia bieżące</a></li>
                            <li><a href="">Kontakt</a></li>
                            <li><a href="">Regulamin</a></li>
                            <li><a href="">Polityka prywatności</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h3>Moje konto</h3>
                        <ul>
                            <li><a href="">Koszyk</a></li>
                            <li><a href="">Rejestracja</a></li>
                            <li><a href="">Logowanie</a></li>
                            <li><a href="">Moje zamówienia</a></li>
                            <li><a href="">Mój adres</a></li>
                            <li><a href="">Zresetuj hasło</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h3>Pomoc</h3>
                        <ul>
                            <li><a href="">Najczęstsze pytania</a></li>
                            <li><a href="">Koszty wysyłki</a></li>
                            <li><a href="">Zwroty i reklamacje</a></li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <p>Odwiedź i polub nas:</p>
                    <div class="footer-social-links">
                        <a id="f-facebook-link" href="http://facebook.com"></a>
                        <a id="f-twitter-link" href="http://twitter.com"></a>
                        <a id="f-google-link" href="http://google.com"></a>
                        <a id="f-youtube-link" href="http://youtube.com"></a>
                    </div>
                    <p>Jeśli chcesz wiedzieć co nowego dzieje się w świecie gier, zapisz się na otrzymywanie naszego newslettera:</p>
                    <div class="newsletter">
                        <form>
                            <input class="text-input" type="text" placeholder="Podaj adres e-mail" />
                            <input type="button" id="newsletter-button" value="Zapisz" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="wrapper">
                Projekt stworzony został jako projekt zaliczeniowy przedmiotu Systemy Handlu Elektrownicznego w roku akademickim 2015-2016 przez Karolinę Kuras, Krystiana Kądzielę, Adama Kostusiaka, Huberta Pietruczuka oraz Damiana Roguskiego pod kierownictwem Jakuba Szymczuka. Serwis ma charakter wyłącznie edukacyjny i nie świadczy faktycznej sprzedaży umieszczonych w nim produktów. Prawa autorskie wszystkich umieszczonych materiałów należą do ich faktycznych właścicieli.
            </div>
        </div>
    </footer>

    <script>
        $(document).ready(function () {
            $('#slider').bxSlider({
                mode: 'horizontal',
                useCSS: false,
                infiniteLoop: true,
                auto: true,
                pause: 5000,
                prevSelector: '#slider-prev',
                nextSelector: '#slider-next',
                pager: true,
                pagerCustom: '#slide-pager'
            });
        });

        $("#drop-down-menu-bar .menu-links li").mouseenter(function () {
            $(".drop-down-menu").hide();
            var $this = $(this);
            var id = $this.attr("rel");
            var $current = $("#" + id);
            var position = $this.offset();
            $current.css("top", position.top + $this.outerHeight());
            $current.css("left", position.left);
            $current.show();
        });
        $(".drop-down-menu").mouseleave(function () {
            $(".drop-down-menu").hide();
        });
        $("main").mouseenter(function () {
            $(".drop-down-menu").hide();
        });
        $(".upper-bar").mouseenter(function () {
            $(".drop-down-menu").hide();
        });
        $(".news-wrapper").hover(
			function () {
			    $(this).find(".news-summary").stop().animate({ "top": "0" }, 100);
			},
			function () {
			    $(this).find(".news-summary").stop().animate({ "top": "106px" }, 100);
			}
		);

        $("#search-button").on('click', function () {
            var keyword = $("#product-search-bar").val();
            window.location = '/product/index?keyword=' + keyword;
        });
    </script>
</body>
</html>