@model List<GameStore.ViewModels.ProductListItem>

<div class="main-section" id="main-preorder">
    <h2>Zamów przed premierą</h2>
    <ul>
        @foreach (var item in Model)
        {
            <li class="product-box">
                <a href='@Url.Action("ProductDetails", "Product", new { Id = item.Id })' class="product-image-wrapper">
                    <div class="product-release">Premiera: @item.ReleaseDateString</div>
                    <div class="image-tint background-white"></div>
                    <img alt="Nazwa produktu" src="@item.CoverList" height="255" width="180" />
                </a>
                <a href='@Url.Action("ProductDetails", "Product", new { Id = item.Id })' class="title-wrapper">
                    <h3>@item.Name</h3>
                </a>
                <div class="product-additional-info">Platforma: @item.PlatformName</div>
                <div class="rating-stars">
                    <div class="rating-stars-result"></div>
                    <a href="" class="rate-star"></a>
                    <a href="" class="rate-star"></a>
                    <a href="" class="rate-star"></a>
                    <a href="" class="rate-star"></a>
                    <a href="" class="rate-star"></a>
                </div>
                <div class="product-price">
                    <span class="price-main">@item.BasePriceZl</span>
                    <span class="price-sub">
                        <span class="price-grosze">@item.BasePriceGr</span>
                        <span class="price-currency">zł</span>
                    </span>
                </div>
                <div class="add-to-cart"></div>
            </li>
        }
    </ul>
</div>
