@model GameStore.ViewModels.MainPageViewModel

@{
    ViewBag.Title = "Strona główna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <ul id="slider">
        <li><div id="slider-img1" class="slider-img"></div></li>
        <li><div id="slider-img2" class="slider-img"></div></li>
    </ul>
    <span id="slider-prev" class="slider-control"></span>
    <span id="slider-next" class="slider-control"></span>
</header>

<main class="main-page-main">
    <div class="wrapper">
        @Html.Action("Top4Articles", "Article")
        <div class="background-white">
            @Html.Partial("_Top10", Model.Top10)
            <div id="main-recommended">
                <div class="main-section" id="main-preorder">
                    <h2>Zamów przed premierą</h2>
                    <ul>
                        @foreach (var item in Model.PreOrders)
                        { 
                            @Html.Partial("../Product/_ProductBox", item)
                        }
                    </ul>
                </div>
                <div class="main-section" id="main-discount">
                    <h2>Kup produkt w cenie promocyjnej</h2>
                    <ul>
                        @foreach (var item in Model.Discount)
                        {
                            @Html.Partial("../Product/_ProductBox", item)
                        }
                    </ul>
                </div>
                <div class="main-section" id="main-collector">
                    <h2>Zaopatrz się w zestaw dla kolekcjonerów</h2>
                    <ul>
                        @foreach (var item in Model.Discount)
                        {
                            @Html.Partial("../Product/_ProductBox", item)
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>